<div class="container">
  
	<div class="page-header clearfix">
	  <div class="pull-left">
	    <h1>Listing Users</h1>
	  </div>
	  <div class="pull-right btn-header">
	    <a href="<%= new_user_path %>" class="btn btn-primary">
	      <span class="glyphicon glyphicon-plus"></span>
	      New User
	    </a>
	  </div>
	</div>
	
	<div class="row">
	  <div class="column">
	    <%= render 'search' %>
	  </div>
	</div>

	<div class="row">
	  <div class="column">
	    <%= render 'users' %>
	  </div>
	</div>
	
	<%= paginate @users %>

</div>