<div class="page-header clearfix">
  <div class="pull-left">
    <h1>New user</h1>
  </div>
  <div class="pull-right btn-header">
    <a href="<%= users_path %>" class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-left"></span>
      Back
    </a>
  </div>
</div>

<%= render 'form' %>