<div class="container">
  
	<div class="page-header clearfix">
	  <div class="pull-left">
	    <h1>Listing Operators</h1>
	  </div>
	  <div class="pull-right btn-header">
	    <a href="<%= new_operator_path %>" class="btn btn-primary">
	      <span class="glyphicon glyphicon-plus"></span>
	      New Operator
	    </a>
	  </div>
	</div>
	
	<div class="row">
	  <div class="column">
	    <%= render 'search' %>
	  </div>
	</div>

	<div class="row">
	  <div class="column">
	    <%= render 'operators' %>
	  </div>
	</div>
	
		<%= paginate @operators %>

</div>