<div class="container-fluid">
	<div class="page-header clearfix mt-3">
	  <div class="float-left">
	    <h1><%= t(:listing_addresses)%></h1>
	  </div>
	  <div class="float-right btn-header">  
	  </div>
	</div>
	
	<div class="mt-1">
	  <div class="column">
	    <%= render 'search' %>
	  </div>
	</div>

	<div class="mt-3">
	  <div class="column" id="addresses">
	    <%= render 'addresses' %>
	  </div>
	</div>
</div>