<div class="page-header clearfix">
  <div class="pull-left">
    <h1><%= t(:new_assigned_address) %></h1>
  </div>
  <div class="pull-right btn-header">
    <a href="<%= assigned_addresses_path %>" class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-left"></span>
      <%= t(:back) %>
    </a>
  </div>
</div>

<%= render 'form' %>