<%= search_form_for @q, url: roles_path, :method => :get do |f| %>
	<table border="0" width="98%" align="center">
		<tr>
			<td>
	    		<%= f.label :name_cont, t('name') %><br />
	    		<%= f.text_field :name_cont %>
	  	</td>
			<td rowspan="2" align="center">
	    		<div class="actions col-md-offset-2">
				    <%= f.submit class: 'btn btn-default' %>
				  </div>
	  	</td>
		</tr>
	</table>
<% end %>
<hr>