<div class="page-header clearfix">
  <div class="pull-left">
    <h1>Editing role <%= @role.name %></h1>
  </div>
  <div class="pull-right btn-header">
    <a href="<%= roles_path %>" class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-left"></span>
      Back
    </a>
    <a href="<%= role_path @role %>" class="btn btn-default">
      <span class="glyphicon glyphicon-eye-open"></span>
      Show
    </a>
  </div>
</div>

<%= render 'form' %>