<div class="container">
  <div class="page-header clearfix">
    <div class="pull-left">
      <h1><%= t(:edit_hardware_type) %></h1>
    </div>
    <div class="pull-right btn-header">
      <a href="<%= hardwares_path %>" class="btn btn-default">
        <span class="glyphicon glyphicon-arrow-left"></span>
        <%= t(:back) %>
      </a>
    </div>
  </div>

  <%= render 'form' %>
</div>