<div class="form-group">
  <%= f.label :name, t('location_port'), class: "col-sm-2 control-label" %>
  <div class="col-sm-2">
    <%= f.text_field :name, class: 'form-control' %>
		<div class="checkbox">
		    <label>
		      <%= f.check_box :_destroy %> Remove
		    </label>
		</div>
  </div>
</div>
